:root {
    --cinza: #cccccc;
    --vermelho: #ff0000;
    --branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    
}

#banner {
    width: 100%;
}

.principal {
    background: var(--cinza);
}

.corpo__titulo {
    text-align: center;
}
.corpo__texto {
    font-size: 20px;
    text-align: center;
    
}

em strong {
    color: var(--vermelho);
}

.beneficios {
    background: var(--branco);
}

.itens {
    font-style: italic;
}

h2 {
    text-align: center;
}

.imagem__beneficios {
    
}