:root {
    --cinza: #cccccc;
    --vermelho: #ff0000;
    --branco: #ffffff;
}



#banner {
    width: 100%;
}

.principal {
    background: var(--cinza);
}

.corpo__titulo {
    text-align: center;
}
.corpo__texto {
    font-size: 20px;
    text-align: center;
}

em strong {
    color: var(--vermelho);
}

.beneficios {
    background: var(--branco);
    padding: 20px;
}

.itens {
    font-style: italic;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem__beneficios {
    width: 50%;
}