:root {
    --cinza: #cccccc;
    --vermelho: #ff0000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--cinza);
}

#banner {
    width: 100%;
}

.corpo__titulo {
    text-align: center;
}
.corpo__texto {
    font-size: 20px;
    text-align: center;
    
}

em strong {
    color: var(--vermelho);
}

.itens {
    font-style: italic;
}