header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    justify-content: space-between;
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.menu__itens {
    display: flex;
}

.menu__link {
    margin-right: 15px;
    text-transform: uppercase;
    color: var(--preto);
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
}

.menu__link:hover {
    color: #f0d297;
}

.produtos {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.produtos__links {
    text-align: center;
    width: 30%;
    margin: 0 1.5em;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produto__titulo {
    font-size: 30px;
    font-weight: 700;
}

.produto__imagem {
    width: 100%;
}

.produto__descrição {
    font-size: 18px;
    padding: 30px 20px;
}

.produto__preço {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}